/* ==========================================================================
   FONT
   ========================================================================== */

@font-face {
  font-family: 'Dosis';
  src: url('../../../font/Dosis-SemiBold.eot');
  src: url('../../../font/Dosis-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../../../font/Dosis-SemiBold.woff2') format('woff2'),
      url('../../../font/Dosis-SemiBold.woff') format('woff'),
      url('../../../font/Dosis-SemiBold.ttf') format('truetype'),
      url('../../../font/Dosis-SemiBold.svg#Dosis-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('../../../font/Dosis-Bold.eot');
  src: url('../../../font/Dosis-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../../font/Dosis-Bold.woff2') format('woff2'),
      url('../../../font/Dosis-Bold.woff') format('woff'),
      url('../../../font/Dosis-Bold.ttf') format('truetype'),
      url('../../../font/Dosis-Bold.svg#Dosis-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('../../../font/Dosis-ExtraBold.eot');
  src: url('../../../font/Dosis-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../../../font/Dosis-ExtraBold.woff2') format('woff2'),
      url('../../../font/Dosis-ExtraBold.woff') format('woff'),
      url('../../../font/Dosis-ExtraBold.ttf') format('truetype'),
      url('../../../font/Dosis-ExtraBold.svg#Dosis-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('../../../font/Dosis-ExtraLight.eot');
  src: url('../../../font/Dosis-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../../../font/Dosis-ExtraLight.woff2') format('woff2'),
      url('../../../font/Dosis-ExtraLight.woff') format('woff'),
      url('../../../font/Dosis-ExtraLight.ttf') format('truetype'),
      url('../../../font/Dosis-ExtraLight.svg#Dosis-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('../../../font/Dosis-Medium.eot');
  src: url('../../../font/Dosis-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../../font/Dosis-Medium.woff2') format('woff2'),
      url('../../../font/Dosis-Medium.woff') format('woff'),
      url('../../../font/Dosis-Medium.ttf') format('truetype'),
      url('../../../font/Dosis-Medium.svg#Dosis-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('../../../font/Dosis-Light.eot');
  src: url('../../../font/Dosis-Light.eot?#iefix') format('embedded-opentype'),
      url('../../../font/Dosis-Light.woff2') format('woff2'),
      url('../../../font/Dosis-Light.woff') format('woff'),
      url('../../../font/Dosis-Light.ttf') format('truetype'),
      url('../../../font/Dosis-Light.svg#Dosis-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('../../../font/Dosis-Regular.eot');
  src: url('../../../font/Dosis-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../../font/Dosis-Regular.woff2') format('woff2'),
      url('../../../font/Dosis-Regular.woff') format('woff'),
      url('../../../font/Dosis-Regular.ttf') format('truetype'),
      url('../../../font/Dosis-Regular.svg#Dosis-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('../../../font/Dosis-ExtraLight_1.eot');
  src: url('../../../font/Dosis-ExtraLight_1.eot?#iefix') format('embedded-opentype'),
      url('../../../font/Dosis-ExtraLight_1.woff2') format('woff2'),
      url('../../../font/Dosis-ExtraLight_1.woff') format('woff'),
      url('../../../font/Dosis-ExtraLight_1.ttf') format('truetype'),
      url('../../../font/Dosis-ExtraLight_1.svg#Dosis-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}